<div id="wrap" class="wrap no-gutter-ads logged-out dark-theme">
<div id="header" class="navbar-fixed-top rbx-header" role="navigation">
  <div class="container-fluid">
    <div class="rbx-navbar-header">
      <div id="header-menu-icon" class="rbx-nav-collapse" role="button" tabindex="0" aria-label="Menu" aria-expanded="false" aria-controls="navigation">
        <span class="icon-nav-menu"><svg class="rbx-icon"><use href="#nav-menu"></use></svg></span>
      </div>
      <a class="navbar-brand" id="header-logo" href="/signup.html"><span class="icon-logo brand-text">ROBLOX</span><span class="icon-logo-r brand-text"><svg class="rbx-icon logo-r"><use href="#logo-r"></use></svg></span></a>
    </div>
    <ul class="nav rbx-navbar hidden-xs hidden-sm">
      <li><a class="font-header-2 nav-menu-title text-header" href="/discover.html">Discover</a></li>
      <li><a class="font-header-2 nav-menu-title text-header" href="/catalog.html">Catalog</a></li>
      <li><a class="font-header-2 nav-menu-title text-header" href="/create.html">Create</a></li>
      <li><a class="font-header-2 nav-menu-title text-header" href="/robux.html">Robux</a></li>
    </ul>
    <div class="navbar-right rbx-navbar-right">
      <button type="button" id="navbar-login-toggle" class="signup-button navbar-login-toggle">Log In</button>
      <form class="login-form navbar-login-bar" name="navbarLoginForm" method="post" action="/login">
        <input id="navbar-login-username" name="username" type="text" class="form-control input-field" placeholder="Username" autocomplete="username">
        <input id="navbar-login-password" name="password" type="password" class="form-control input-field" placeholder="Password" autocomplete="current-password">
        <button type="submit" class="signup-button" id="navbar-login-button">Log In</button>
      </form>
    </div>
  </div>
</div>
<div id="navigation-overlay" class="navigation-overlay"></div>
<div id="navigation-container">
  <div id="navigation" class="rbx-left-col">
    <ul class="left-col-list">
      <li><a href="/discover.html" class="text-nav"><span class="icon-nav-home"><svg class="rbx-icon"><use href="#nav-home"></use></svg></span><span>Discover</span></a></li>
      <li><a href="/catalog.html" class="text-nav"><span class="icon-nav-inventory"><svg class="rbx-icon"><use href="#icon-hat"></use></svg></span><span>Catalog</span></a></li>
      <li><a href="/create.html" class="text-nav"><span class="icon-nav-charactercustomizer"><svg class="rbx-icon"><use href="#nav-character"></use></svg></span><span>Create</span></a></li>
      <li><a href="/robux.html" class="text-nav"><span class="icon-nav-robux"><svg class="rbx-icon"><use href="#nav-robux"></use></svg></span><span>Robux</span></a></li>
      <li><a href="/signup.html" class="text-nav"><span class="icon-nav-profile"><svg class="rbx-icon"><use href="#nav-profile"></use></svg></span><span>Sign Up</span></a></li>
    </ul>
  </div>
</div>
