<div id="wrap" class="wrap no-gutter-ads logged-in dark-theme">
<div id="header" class="navbar-fixed-top rbx-header" data-isauthenticated="true" role="navigation">
  <div class="container-fluid">
    <div class="rbx-navbar-header">
      <a class="navbar-brand" href="/home-loggedin.html"><span class="brand-text">ROBLOX</span></a>
    </div>
    <ul class="nav rbx-navbar">
      <li><a class="nav-menu-title text-header" href="/home-loggedin.html">Home</a></li>
      <li><a class="nav-menu-title text-header" href="/discover.html">Discover</a></li>
      <li><a class="nav-menu-title text-header" href="/catalog-loggedin.html">Catalog</a></li>
      <li><a class="nav-menu-title text-header" href="/create-loggedin.html">Create</a></li>
      <li><a class="nav-menu-title text-header" href="/friends-loggedin.html">Friends</a></li>
      <li><a class="nav-menu-title text-header" href="/messages-loggedin.html">Messages</a></li>
      <li><a class="nav-menu-title text-header" href="/avatar-loggedin.html">Avatar</a></li>
      <li><a class="nav-menu-title text-header" href="/profile-loggedin.html">{{USERNAME}}</a></li>
      <li><a class="nav-menu-title text-header" href="/settings-loggedin.html">Settings</a></li>
      <li><a class="nav-menu-title signup-button" href="/credits-loggedin.html">made by thuggy</a></li>
      <li><a class="nav-menu-title" href="/logout">Logout</a></li>
    </ul>
    <div class="navbar-right">
      <span class="age-bracket-label-username">{{USERNAME}}</span>
      <a class="nav-menu-title" href="/robux-loggedin.html">R$ {{ROBUX}}</a>
    </div>
  </div>
</div>
