<div id="wrap" class="wrap no-gutter-ads logged-in dark-theme">
<div id="header" class="navbar-fixed-top rbx-header" data-isauthenticated="true" role="navigation">
  <div class="container-fluid">
    <div class="rbx-navbar-header">
      <div id="header-menu-icon" class="rbx-nav-collapse" role="button" tabindex="0" aria-label="Menu" aria-expanded="false" aria-controls="navigation">
        <span class="icon-nav-menu"></span>
      </div>
      <a class="navbar-brand" id="header-logo" href="/home-loggedin.html"><span class="icon-logo brand-text">ROBLOX</span><span class="icon-logo-r brand-text">R</span></a>
    </div>
    <ul class="nav rbx-navbar hidden-xs hidden-sm">
      <li><a class="font-header-2 nav-menu-title text-header" href="/discover-loggedin.html">Discover</a></li>
      <li><a class="font-header-2 nav-menu-title text-header" href="/catalog-loggedin.html">Catalog</a></li>
      <li><a class="font-header-2 nav-menu-title text-header" href="/create-loggedin.html">Create</a></li>
    </ul>
    <div id="navbar-universal-search" class="navbar-left rbx-navbar-search" role="search">
      <form class="navbar-search" action="/search-loggedin.html" method="get">
        <input id="navbar-search-input" name="keyword" class="form-control input-field" type="search" placeholder="Search" maxlength="120" autocomplete="off">
        <button type="submit" class="input-addon-btn" aria-label="Search"><span class="icon-nav-search"></span></button>
      </form>
    </div>
    <ul class="nav navbar-right rbx-navbar-right rbx-navbar-icon-group">
      <li id="navbar-robux" class="navbar-icon-item">
        <a class="rbx-menu-item" href="/robux-loggedin.html" title="Robux">
          <span class="icon-nav-robux"></span>
          <span class="rbx-text-navbar-right text-header robux-amount">{{ROBUX}}</span>
        </a>
      </li>
      <li id="navbar-setting" class="navbar-icon-item">
        <a class="rbx-menu-item" id="nav-settings" href="/settings-loggedin.html" title="Settings" aria-haspopup="true" aria-expanded="false">
          <span class="icon-nav-settings"></span>
        </a>
        <ul class="dropdown-menu" id="settings-popover" role="menu">
          <li><a class="rbx-menu-item" href="/settings-loggedin.html">Settings</a></li>
          <li><a class="rbx-menu-item" href="/help-loggedin.html">Help</a></li>
          <li><a class="rbx-menu-item" href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div id="navigation-overlay" class="navigation-overlay"></div>
<div id="navigation-container">
  <div id="navigation" class="rbx-left-col">
    <ul class="left-col-list">
      <li class="rbx-nav-user">
        <a id="nav-roblox" href="/profile-loggedin.html" class="text-nav dynamic-overflow-container">
          <span class="avatar avatar-headshot-xs">
            <img class="avatar-card-image" src="/thumbs/headshot.ashx?userId={{USER_ID}}" alt="{{USERNAME}}">
          </span>
          <span class="font-header-2 text-overflow">{{USERNAME}}</span>
        </a>
      </li>
      <li><a id="nav-home" href="/home-loggedin.html" class="text-nav"><span class="icon-nav-home"></span><span>Home</span></a></li>
      <li><a id="nav-profile" href="/profile-loggedin.html" class="text-nav"><span class="icon-nav-profile"></span><span>Profile</span></a></li>
      <li><a id="nav-message" href="/messages-loggedin.html" class="text-nav"><span class="icon-nav-message"></span><span>Messages</span></a></li>
      <li><a id="nav-friends" href="/friends-loggedin.html" class="text-nav"><span class="icon-nav-friends"></span><span>Friends</span></a></li>
      <li><a id="nav-character" href="/avatar-loggedin.html" class="text-nav"><span class="icon-nav-charactercustomizer"></span><span>Avatar</span></a></li>
      <li><a id="nav-inventory" href="/inventory-loggedin.html" class="text-nav"><span class="icon-nav-inventory"></span><span>Inventory</span></a></li>
      <li><a id="nav-trade" href="/trades-loggedin.html" class="text-nav"><span class="icon-nav-trade"></span><span>Trade</span></a></li>
      <li><a id="nav-group" href="/groups-loggedin.html" class="text-nav"><span class="icon-nav-group"></span><span>Groups</span></a></li>
    </ul>
  </div>
</div>
