<div id="wrap" class="wrap no-gutter-ads logged-out dark-theme">
<div id="header" class="navbar-fixed-top rbx-header" role="navigation">
  <div class="container-fluid">
    <div class="rbx-navbar-header">
      <a class="navbar-brand" href="/signup.html"><span class="brand-text">ROBLOX</span></a>
    </div>
    <ul class="nav rbx-navbar">
      <li><a class="nav-menu-title text-header" href="/discover.html">Discover</a></li>
      <li><a class="nav-menu-title text-header" href="/catalog.html">Catalog</a></li>
      <li><a class="nav-menu-title text-header" href="/create.html">Create</a></li>
      <li><a class="nav-menu-title text-header" href="/robux.html">Robux</a></li>
      <li><a class="nav-menu-title signup-button" href="/credits.html">made by thuggy</a></li>
    </ul>
    <div class="navbar-right rbx-navbar-right">
      <form class="login-form navbar-login-bar" name="navbarLoginForm" method="post" action="/login">
        <input id="navbar-login-username" name="username" type="text" class="form-control input-field" placeholder="Username">
        <input id="navbar-login-password" name="password" type="password" class="form-control input-field" placeholder="Password">
        <button type="submit" class="signup-button" id="navbar-login-button">Log In</button>
      </form>
    </div>
  </div>
</div>
