


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <!-- MachineID: WEB194 -->
    <title>ROBLOX.com</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="ROBLOX Corporation" />
<meta name="description" content="ROBLOX is powered by a growing community of over 300,000 creators who produce an infinite variety of highly immersive experiences. These experiences range from 3D multiplayer games and competitions, to interactive adventures where friends can take on new personas imagining what it would be like to be a dinosaur, a miner in a quarry or an astronaut on a space exploration." />
<meta name="keywords" content="free games, online games, building games, virtual worlds, free mmo, gaming cloud, physics engine" />
<meta name="apple-itunes-app" content="app-id=431946152" />
<meta name="google-site-verification" content="KjufnQUaDv5nXJogvDMey4G-Kb7ceUVxTdzcMaP9pCY" />

    
    

    <link rel="canonical" href="https://www.roblox.com/promocodes" />

    <link href="https://images.rbxcdn.com/9c0e562131139fc909c6fbb3d691c249.ico.gzip" rel="icon" />
    


<link rel='stylesheet' href='https://static.rbxcdn.com/css/MainCSS___479b6802ff1c62610bb9c181e98e440f_m.css/fetch' />
    
<link rel='stylesheet' href='https://static.rbxcdn.com/css/page___cfc162e20d9ab43b7c65994072489bc3_m.css/fetch' />

        






    
    


    


    

            



    

    
    

    
    
    
        

    



        
    
    

    

        
    

    


</head>
<body id="rbx-body"
      class=""
      data-performance-relative-value="0.005"
      data-internal-page-name=""
      data-send-event-percentage="0.01">
<div id="roblox-linkify" data-enabled="true" data-regex="(https?\:\/\/)?(?:www\.)?([a-z0-9\-]{2,}\.)*(((m|de|www|web|api|blog|wiki|help|corp|polls|bloxcon|developer|devforum|forum)\.roblox\.com|robloxlabs\.com)|(www\.shoproblox\.com))((\/[A-Za-z0-9-+&amp;@#\/%?=~_|!:,.;]*)|(\b|\s))" data-regex-flags="gm" data-as-http-regex="((blog|wiki|[^.]help|corp|polls|bloxcon|developer|devforum)\.roblox\.com|robloxlabs\.com)"></div>
<div id="image-retry-data"
     data-image-retry-max-times="10"
     data-image-retry-timer="1500">
</div>
<div id="http-retry-data"
     data-http-retry-max-timeout="0"
     data-http-retry-base-timeout="0">
</div>
        <div ng-modules="baseTemplateApp">
            
        </div>
        <div ng-modules="pageTemplateApp">
            
        </div>
    




<div id="fb-root"></div>

<div class="nav-container no-gutter-ads">




<div id="header"
     class="navbar-fixed-top rbx-header"
     data-isfriendshiprealtimeupdateenabled="true"
     role="navigation">
    <div class="container-fluid">
        <div class="rbx-navbar-header">
            <div data-behavior="nav-notification" class="rbx-nav-collapse" onselectstart="return false;">
                    <span class="icon-nav-menu"></span>

                    <div class="notification-red hide"
                         title="0">
                        
                    </div>

            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="https://web.roblox.com/">
                    <span class="icon-logo"></span>
                    <span class="icon-logo-r"></span>
                </a>
            </div>
        </div>
        <ul class="nav rbx-navbar hidden-xs hidden-sm col-md-4 col-lg-3">
            <li>
                <a class="nav-menu-title" href="https://web.roblox.com/games">Games</a>
            </li>
            <li>
                <a class="nav-menu-title" href="https://web.roblox.com/catalog/">Catalog</a>
            </li>
            <li>
                <a class="nav-menu-title" href="https://web.roblox.com/develop">Develop</a>
            </li>
            <li>
                <a class="buy-robux nav-menu-title" href="https://web.roblox.com/upgrades/robux?ctx=nav">ROBUX</a>
            </li>
        </ul><!--rbx-navbar-->
        <div id="navbar-universal-search" class="navbar-left rbx-navbar-search col-xs-5 col-sm-6 col-md-3" data-behavior="univeral-search" role="search">
            <div class="input-group">

                <input id="navbar-search-input" class="form-control input-field" type="text" placeholder="Search" maxlength="120" />
                <div class="input-group-btn">
                    <button id="navbar-search-btn" class="input-addon-btn" type="submit">
                        <span class="icon-nav-search"></span>
                    </button>
                </div>
            </div>
            <ul data-toggle="dropdown-menu" class="dropdown-menu" role="menu">
                <li class="rbx-navbar-search-option selected" data-searchurl="https://web.roblox.com/search/users?keyword=">
                    <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in People</span>
                </li>
                        <li class="rbx-navbar-search-option" data-searchurl="https://web.roblox.com/games/?Keyword=">
                            <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in Games</span>
                        </li>
                        <li class="rbx-navbar-search-option" data-searchurl="https://web.roblox.com/catalog/browse.aspx?CatalogContext=1&amp;Keyword=">
                            <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in Catalog</span>
                        </li>
                        <li class="rbx-navbar-search-option" data-searchurl="https://web.roblox.com/groups/search.aspx?val=">
                            <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in Groups</span>
                        </li>
                        <li class="rbx-navbar-search-option" data-searchurl="https://web.roblox.com/develop/library?CatalogContext=2&amp;Category=6&amp;Keyword=">
                            <span class="rbx-navbar-search-text">Search <span class="rbx-navbar-search-string"></span> in Library</span>
                        </li>
            </ul>
        </div><!--rbx-navbar-search-->
        <div class="navbar-right rbx-navbar-right col-xs-4 col-sm-3">

<ul class="nav navbar-right rbx-navbar-icon-group">
    <li id="navbar-setting" class="navbar-icon-item">
        <a class="rbx-menu-item roblox-popover-close" data-toggle="popover" data-bind="popover-setting" data-viewport="#header">
            <span class="icon-nav-settings roblox-popover-close" id="nav-settings"></span>
            <span class="notification-red nav-setting-highlight hidden">0</span>
        </a>
        <div class="rbx-popover-content" data-toggle="popover-setting">
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="rbx-menu-item" href="https://web.roblox.com/my/account">
                        Settings
                        <span class="notification-blue nav-setting-highlight hidden">0</span>
                    </a>
                </li>
                <li><a class="rbx-menu-item" href="https://web.roblox.com/Help/Builderman.aspx" target="_blank">Help</a></li>
                <li><a class="rbx-menu-item" data-behavior="logout" data-bind="https://web.roblox.com/authentication/logout">Logout</a></li>
            </ul>
        </div>
    </li>
    <li id="navbar-robux" class="navbar-icon-item">
        <a id="nav-robux-icon" class="rbx-menu-item" data-toggle="popover" data-bind="popover-robux">
            <span class="icon-nav-robux roblox-popover-close" id="nav-robux"></span>
            <span class="rbx-text-navbar-right" id="nav-robux-amount">0</span>
        </a>
        <div class="rbx-popover-content" data-toggle="popover-robux">
            <ul class="dropdown-menu" role="menu">
                <li><a href="https://web.roblox.com/My/Money.aspx#/#Summary_tab" id="nav-robux-balance" class="rbx-menu-item">0 ROBUX</a></li>
                <li><a href="https://web.roblox.com/upgrades/robux?ctx=navpopover" class="rbx-menu-item">Buy ROBUX</a></li>
            </ul>
        </div>
    </li>


<li ng-modules="robloxApp, notificationStreamIcon"
    ng-controller="notificationStreamIconController" 
    class="navbar-icon-item notification-stream"
    ng-class="{'inApp': library.inApp}">
    <div notification-indicator></div>
    
</li>

    <li class="rbx-navbar-right-search" data-toggle="toggle-search">
        <a class="rbx-menu-icon rbx-menu-item">
            <span class="icon-nav-search-white"></span>
        </a>
    </li>
</ul>        </div><!-- navbar right-->
        <ul class="nav rbx-navbar hidden-md hidden-lg col-xs-12">
            <li>
                <a class="nav-menu-title" href="https://web.roblox.com/games">Games</a>
            </li>
            <li>
                <a class="nav-menu-title" href="https://web.roblox.com/catalog/">Catalog</a>
            </li>
            <li>
                <a class="nav-menu-title" href="https://web.roblox.com/develop">Develop</a>
            </li>
            <li>
                <a class="buy-robux nav-menu-title" href="https://web.roblox.com/upgrades/robux?ctx=nav">ROBUX</a>
            </li>
        </ul><!--rbx-navbar-->
    </div>
</div>


<!-- LEFT NAV MENU -->
    <div id="navigation" class="rbx-left-col" data-behavior="left-col">
        <ul>
            <li class="text-lead">
                <a class="text-overflow" href="https://web.roblox.com/users/166138669/profile">Jetsaur459</a>
            </li>
            <li class="rbx-divider"></li>
        </ul>

        <div class="rbx-scrollbar" data-toggle="scrollbar" onselectstart="return false;">
            <ul>
                <li><a href="https://web.roblox.com/home" id="nav-home"><span class="icon-nav-home"></span><span>Home</span></a></li>
                <li><a href="https://web.roblox.com/users/166138669/profile" id="nav-profile"><span class="icon-nav-profile"></span><span>Profile</span></a></li>
                <li>
                    <a href="https://web.roblox.com/my/messages/#!/inbox" id="nav-message" data-count="0">
                        <span class="icon-nav-message"></span><span>Messages</span>
                        <span class="notification-blue hide" title="0"></span>
                    </a>
                </li>
                <li>
                    <a href="https://web.roblox.com/users/166138669/friends#!/friends" id="nav-friends" data-count="0">
                        <span class="icon-nav-friends"></span><span>Friends</span>
                        <span class="notification-blue hide" title="0"></span>
                    </a>
                </li>
                <li>
                    <a href="https://web.roblox.com/my/character.aspx" id="nav-character">
                        <span class="icon-nav-charactercustomizer"></span><span>Avatar</span>
                    </a>
                </li>
                <li>
                    <a href="https://web.roblox.com/users/166138669/inventory" id="nav-inventory">
                        <span class="icon-nav-inventory"></span><span>Inventory</span>
                    </a>
                </li>
                <li>
                    <a href="https://web.roblox.com/my/money.aspx#/#TradeItems_tab" id="nav-trade">
                        <span class="icon-nav-trade"></span><span>Trade</span>
                    </a>
                </li>
                <li>
                    <a href="https://web.roblox.com/my/groups.aspx" id="nav-group">
                        <span class="icon-nav-group"></span><span>Groups</span>
                    </a>
                </li>
                <li>
                    <a href="https://forum.roblox.com/forum/" id="nav-forum">
                        <span class="icon-nav-forum"></span><span>Forum</span>
                    </a>
                </li>
                <li>
                    <a href="http://blog.roblox.com" id="nav-blog">
                        <span class="icon-nav-blog"></span><span>Blog</span>
                    </a>
                </li>
                    <li>
                        <a id="nav-shop" class="roblox-shop-interstitial">
                            <span class="icon-nav-shop"></span><span>Shop</span>
                        </a>
                    </li>
                <li class="rbx-upgrade-now">
                    <a href="https://web.roblox.com/premium/membership?ctx=leftnav" class="btn-secondary-md" id="upgrade-now-button">Upgrade Now</a>
                </li>
            </ul>
        </div>
    </div>



    <div id="navContent" class="nav-content
                                 
                                
                                logged-in">
        <div class="nav-content-inner">
            <div id="MasterContainer">
                    
                




                <div>
                    <noscript><div class="alert-info">Please enable Javascript to use all the features on this site.</div></noscript>
                                                            <div id="BodyWrapper" class="">
                        <div id="RepositionBody">
                            <div id="Body" class="body-width">
                                
<h1><span>Redeem ROBLOX Promotions</span></h1>
<div id="RedeemContainer">
    <div id="Instructions">
        <div class="header">How to Use</div>
        <div class="listitem">Have you received a ROBLOX promotional code from one of our many events or give-aways?</div>
        <div class="listitem">This is the place to claim your goods. Enter the promotional code in the section to the right.</div>
        <div class="footnote">Promotional codes may expire, or only be active for a short period of time.</div>
    </div>
    <div style="float:left;">
        <div id="CodeInput">
            <div class="header">Enter Your Code:</div>
            <input id="pin" type="text" />
            <span class="btn-primary btn-small" onclick="Roblox.GameCard.redeemCode()">
                Redeem
            </span>
            <img id="busy" src="https://images.rbxcdn.com/21e504e643e6c21e0c90e5a1b03325f9.gif" alt="Loading" />
        </div>
        <div class="ResultContainer">
            <div id="success" class="ResultSuccessBox"><img src="https://images.rbxcdn.com/6acd50d6f06cb4801309f2334d6728ab.png" alt="Success" /><span id="SuccessMessage" class="ResultBoxTextAligned"></span></div>
            <div id="error" class="ResultErrorBox"><img src="https://images.rbxcdn.com/6fde87e250e2921967a1de2e878449ef.png" alt="Failure" /><span id="errorText" class="ResultBoxTextAligned"></span></div>
        </div>
    </div>
</div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>

<footer class="container-footer">
    <div class="footer">
        <ul class="row footer-links">
                <li class="col-4 col-xs-1 footer-link">
                    <a href="http://corp.roblox.com" class="text-footer-nav roblox-interstitial" target="_blank">
                        About Us
                    </a>
                </li>
                <li class="col-4 col-xs-1 footer-link">
                    <a href="http://corp.roblox.com/jobs" class="text-footer-nav roblox-interstitial" target="_blank">
                        Jobs
                    </a>
                </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="http://blog.roblox.com" class="text-footer-nav" target="_blank">
                    Blog
                </a>
            </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="http://corp.roblox.com/parents" class="text-footer-nav roblox-interstitial" target="_blank">
                    Parents
                </a>
            </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="http://en.help.roblox.com/" class="text-footer-nav roblox-interstitial" target="_blank">
                    Help
                </a>
            </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="https://web.roblox.com/Info/terms-of-service" class="text-footer-nav" target="_blank">
                    Terms
                </a>
            </li>
            <li class="col-4 col-xs-1 footer-link">
                <a href="https://web.roblox.com/Info/Privacy.aspx" class="text-footer-nav privacy" target="_blank">
                    Privacy
                </a>
            </li>
        </ul>
        <!-- NOTE: "ROBLOX Corporation" is a healthcheck; be careful when updating! -->
        <p class="text-footer footer-note">
            ©2016 ROBLOX Corporation
        </p>
    </div>
</footer>

                </div>
            </div> 
        </div> 
    </div> 
</div> 



<div id="usernotifications-data-model"
     class="hidden"
     data-notificationsdomain="https://realtime.roblox.com/"
     data-notificationstestinterval="5000"
     data-notificationsmaxconnectiontime="43200000"
     data-userid="">
</div><div ng-modules="robloxApp, notificationStream"
     ng-controller="notificationStreamController"
     class="roblox-popover-content manual bottom"
     data-hidden-class-name="invisible"
     id="notification-stream"
     data-isNotificationContentOpen="{{layout.isNotificationContentOpen}}"
     ng-class="{'inApp': library.inApp,
                'isPhone': library.isPhone, 
                'invisible': !library.inApp && !layout.isNotificationContentOpen,
                'roblox-popover-open-always': layout.notificationStreamIntroEnabled}">
    <div notification-content></div>
        
        
        
        
</div>
    


<div id="chat-container" class="chat chat-container"
     ng-modules="robloxApp, chat"
     ng-controller="chatController"
     ng-class="{'collapsed': chatLibrary.chatLayout.collapsed, 
                'inApp': chatLibrary.inApp,
                'tablet': chatLibrary.tabletInApp}"
     ng-cloak>
<div id="chat-data-model"
     class="hidden"
     chat-data
     chat-view-model="chatViewModel"
     chat-library="chatLibrary"
     data-userid=""
     data-domain="roblox.com"
     data-gamespagelink="https://web.roblox.com/games"
     data-chatdomain="https://chat.roblox.com"
     data-numberofmembersforpartychrome="6"
     data-friendslistoutputcachedurationinseconds="10"
     data-avatarheadshotsmultigetlimit="100"
     data-userpresencemultigetlimit="100"
     data-intervalofchangetitleforpartychrome="500"
     data-spinner="https://images.rbxcdn.com/4bed93c91f909002b1f17f05c0ce13d1.gif"
     data-notificationsdomain="https://realtime.roblox.com/"
     data-devicetype="Computer"
     data-inapp=false
     data-togglechatbarenabled=true
     data-localstorageenabledforchat=true
     data-smallerchatenabled=true
     data-cleanpartyfromconversationenabled=false
     data-parytchromedisplaytimestampinterval="300000"
     data-initialconversationtodisplay=""
     data-isclientsideurlparseenabled="true">
</div>
    <div chat-bar></div>
    <div id="dialogs"
         class="dialogs"
         ng-controller="dialogsController">
        <div dialog
             id="{{chatLayoutId}}"
             dialog-data="chatUserDict[chatLayoutId]"
             chat-library="chatLibrary"
             close-dialog="closeDialog(chatLayoutId)"
             send-invite="sendInvite(chatLayoutId)"
             ng-repeat="chatLayoutId in chatLibrary.layoutIdList"></div>

        <div dialog
             id="{{newGroup.layoutId}}"
             dialog-data="newGroup"
             chat-library="chatLibrary"
             close-dialog="closeDialog('newGroup')"
             send-invite="sendInvite(newGroup.layoutId)"
             ng-if="newGroup"></div>
        <div id="dialogs-minimize"
             class="dialogs-minimize"
             dialog-minimize
             chat-library="chatLibrary">
        </div>
        <div class="chat-placeholder"
             chat-placeholder>
        </div>
    </div>

    

</div>


    


<div id="PlaceLauncherStatusPanel" style="display:none;width:300px"
     data-new-plugin-events-enabled="True"
     data-event-stream-for-plugin-enabled="True"
     data-event-stream-for-protocol-enabled="True"
     data-is-game-launch-interface-enabled="True"
     data-is-protocol-handler-launch-enabled="True"
     data-is-user-logged-in="True"
     data-os-name="Windows"
     data-protocol-name-for-client="roblox-player"
     data-protocol-name-for-studio="roblox-studio"
     data-protocol-url-includes-launchtime="true"
     data-protocol-detection-enabled="true">
    <div class="modalPopup blueAndWhite PlaceLauncherModal" style="min-height: 160px">
        <div id="Spinner" class="Spinner" style="padding:20px 0;">
            <img data-delaysrc="https://images.rbxcdn.com/e998fb4c03e8c2e30792f2f3436e9416.gif" height="32" width="32" alt="Progress" />
        </div>
        <div id="status" style="min-height:40px;text-align:center;margin:5px 20px">
            <div id="Starting" class="PlaceLauncherStatus MadStatusStarting" style="display:block">
                Starting Roblox...
            </div>
            <div id="Waiting" class="PlaceLauncherStatus MadStatusField">Connecting to Players...</div>
            <div id="StatusBackBuffer" class="PlaceLauncherStatus PlaceLauncherStatusBackBuffer MadStatusBackBuffer"></div>
        </div>
        <div style="text-align:center;margin-top:1em">
            <input type="button" class="Button CancelPlaceLauncherButton translate" value="Cancel" />
        </div>
    </div>
</div>
<div id="ProtocolHandlerStartingDialog" style="display:none;">
    <div class="modalPopup ph-modal-popup">
        <div class="ph-modal-header">

        </div>
        <div class="ph-logo-row">
            <img data-delaysrc="https://images.rbxcdn.com/5d600a0b1cab7177c05f0d1777599158.svg.gzip" width="90" height="90" alt="R" />
        </div>
        <div class="ph-areyouinstalleddialog-content">
            <p class="larger-font-size">
                ROBLOX is now loading. Get ready to play!
            </p>
            <div class="ph-startingdialog-spinner-row">
                <img data-delaysrc="https://images.rbxcdn.com/4bed93c91f909002b1f17f05c0ce13d1.gif" width="82" height="24" />
            </div>
        </div>
    </div>
</div>
<div id="ProtocolHandlerAreYouInstalled" style="display:none;">
    <div class="modalPopup ph-modal-popup">
        <div class="ph-modal-header">
            <span class="icon-close simplemodal-close"></span>
        </div>
        <div class="ph-logo-row">
            <img data-delaysrc="https://images.rbxcdn.com/5d600a0b1cab7177c05f0d1777599158.svg.gzip" width="90" height="90" alt="R" />
        </div>
        <div class="ph-areyouinstalleddialog-content">
            <p class="larger-font-size">
                You're moments away from getting into the game!
            </p>
            <div>
                <button type="button" class="btn btn-primary-md" id="ProtocolHandlerInstallButton" >
                    Download and Install ROBLOX
                </button>
            </div>
            <div class="small">
                <a href="https://en.help.roblox.com/hc/en-us/articles/204473560" class="text-name" target="_blank">Click here for help</a>
            </div>
        </div>
    </div>
</div>
<div id="ProtocolHandlerClickAlwaysAllowed" class="ph-clickalwaysallowed" style="display:none;">
    <p class="larger-font-size">
        <span class="icon-moreinfo"></span>
        Check <b>Remember my choice</b> and click
            <img data-delaysrc="https://images.rbxcdn.com/7c8d7a39b4335931221857cca2b5430b.png" alt="Launch Application" />
        in the dialog box above to join games faster in the future!
    </p>
</div>


    <div id="videoPrerollPanel" style="display:none">
        <div id="videoPrerollTitleDiv">
            Gameplay sponsored by:
        </div>
        <div id="content">
            <video id="contentElement" style="width:0; height:0;" />
        </div>
        <div id="videoPrerollMainDiv"></div>
        <div id="videoPrerollCompanionAd">
            
                
        </div>
        <div id="videoPrerollLoadingDiv">
            Loading <span id="videoPrerollLoadingPercent">0%</span> - <span id="videoPrerollMadStatus" class="MadStatusField">Starting game...</span><span id="videoPrerollMadStatusBackBuffer" class="MadStatusBackBuffer"></span>
            <div id="videoPrerollLoadingBar">
                <div id="videoPrerollLoadingBarCompleted">
                </div>
            </div>
        </div>
        <div id="videoPrerollJoinBC">
            <span>Get more with Builders Club!</span>
            <a href="https://web.roblox.com/premium/membership?ctx=preroll" target="_blank" class="btn-medium btn-primary" id="videoPrerollJoinBCButton">Join Builders Club</a>
        </div>
    </div>   
        
                                                         


<div id="GuestModePrompt_BoyGirl" class="Revised GuestModePromptModal" style="display:none;">
    <div class="simplemodal-close">
        <a class="ImageButton closeBtnCircle_20h" style="cursor: pointer; margin-left:455px;top:7px; position:absolute;"></a>
    </div>
    <div class="Title">
        Choose Your Avatar
    </div>
    <div style="min-height: 275px; background-color: white;">
        <div style="clear:both; height:25px;"></div>

        <div style="text-align: center;">
            <div class="VisitButtonsGuestCharacter VisitButtonBoyGuest" style="float:left; margin-left:45px;"></div>
            <div class="VisitButtonsGuestCharacter VisitButtonGirlGuest" style="float:right; margin-right:45px;"></div>
        </div>
        <div style="clear:both; height:25px;"></div>
        <div class="RevisedFooter">
            <div style="width:200px;margin:10px auto 0 auto;">
                <a href="https://web.roblox.com/?returnUrl=https%3A%2F%2Fweb.roblox.com%2Fpromocodes"><div class="RevisedCharacterSelectSignup"></div></a>
                <a class="HaveAccount" href="https://web.roblox.com/newlogin?returnUrl=https%3A%2F%2Fweb.roblox.com%2Fpromocodes">I have an account</a>
            </div>
        </div>
    </div>
</div>



    <div id="InstallationInstructions" class="" style="display:none;">
        <div class="ph-installinstructions">
            <div class="ph-modal-header">
                    <span class="icon-close simplemodal-close"></span>
                    <h3 class="title">Thanks for playing ROBLOX</h3>
            </div>
            <div class="modal-content-container"> 
                <div class="ph-installinstructions-body ">


        <div class="ph-install-step ph-installinstructions-step1-of4">
            <h1>1</h1>
            <p class="larger-font-size">Click <strong>RobloxPlayer.exe</strong> to run the ROBLOX installer, which just downloaded via your web browser.</p>
            <img width="230" height="180" data-delaysrc="https://images.rbxcdn.com/8b0052e4ff81d8e14f19faff2a22fcf7.png" />
        </div>
        <div class="ph-install-step ph-installinstructions-step2-of4">
            <h1>2</h1>
            <p class="larger-font-size">Click <strong>Run</strong> when prompted by your computer to begin the installation process.</p>
            <img width="230" height="180" data-delaysrc="https://images.rbxcdn.com/4a3f96d30df0f7879abde4ed837446c6.png" />
        </div>
        <div class="ph-install-step ph-installinstructions-step3-of4">
            <h1>3</h1>
            <p class="larger-font-size">Click <strong>Ok</strong> once you've successfully installed ROBLOX.</p>
            <img width="230" height="180" data-delaysrc="https://images.rbxcdn.com/6e23e4971ee146e719fb1abcb1d67d59.png" />
        </div>
        <div class="ph-install-step ph-installinstructions-step4-of4">
            <h1>4</h1>
            <p class="larger-font-size">After installation, click <strong>Play</strong> below to join the action!</p>
            <div class="VisitButton VisitButtonContinueGLI">
                <a class="btn btn-primary-lg disabled">Play</a>
            </div>
        </div>

                </div>
            </div>
            <div class="xsmall">
                The ROBLOX installer should download shortly. If it doesn’t, start the <a href="#" class="text-link" onclick="Roblox.ProtocolHandlerClientInterface.startDownload(); return false;">download now.</a>
            </div>
        </div>
    </div>
    <div class="InstallInstructionsImage" data-modalwidth="970" style="display:none;"></div>


<div id="pluginObjDiv" style="height:1px;width:1px;visibility:hidden;position: absolute;top: 0;"></div>
<iframe id="downloadInstallerIFrame" name="downloadInstallerIFrame" style="visibility:hidden;height:0;width:1px;position:absolute"></iframe>






<div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle="confirmation" style="display:none;">
    <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
    <div class="Title"></div>
    <div class="GenericModalBody">
        <div class="TopBody">
            <div class="ImageContainer roblox-item-image" data-image-size="small" data-no-overlays data-no-click>
                <img class="GenericModalImage" alt="generic image" />
            </div>
            <div class="Message"></div>
        </div>
        <div class="ConfirmationModalButtonContainer GenericModalButtonContainer">
            <a href id="roblox-confirm-btn"><span></span></a>
            <a href id="roblox-decline-btn"><span></span></a>
        </div>
        <div class="ConfirmationModalFooter">
        
        </div>  
    </div>  
    
</div>





    

    
    <noscript>
        <img src="http://b.scorecardresearch.com/p?c1=2&c2=&c3=&c4=&c5=&c6=&c15=&cv=2.0&cj=1"/>
    </noscript>

</body>
</html>